<aside class="sidebar">

    <div class="logo">

        ResellerZ

    </div>

    <nav>

        <a href="/pages/dashboard/index.html">

            Dashboard

        </a>

        <a href="/pages/customers/index.html">

            Customers

        </a>

        <a href="/pages/products/index.html">

            Products

        </a>

        <a href="/pages/suppliers/index.html">

            Suppliers

        </a>

        <a href="/pages/inventory/index.html">

            Inventory

        </a>

        <a href="/pages/purchases/index.html">

            Purchases

        </a>

        <a href="/pages/sales/index.html">

            Sales

        </a>

        <a href="/pages/invoices/index.html">

            Invoices

        </a>

        <a href="/pages/reports/index.html">

            Reports

        </a>

        <a href="/pages/settings/index.html">

            Settings

        </a>

    </nav>

</aside>